@page "/FacesUploader"
@inject HttpClient Http
<h3>Custom Vision Uploader</h3>
@if (IsLoading)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
<div class="container">
    <div class="form-group">
        <input class="form-control" type="text" @bind="@this.SearchTerm" />
        <button class="btn btn-primary" @onclick="@this.Search">Search</button>
        <button class="btn btn-secondary" @onclick="@this.NextPage">Next Page</button>
    </div>
</div>

@if (this.ImagesSelection != null && this.ImagesSelection.PersonImages != null)
{
    <EditForm Model="@this.ImagesSelection" OnValidSubmit="UploadImages">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="container">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Upload Images</button>
            </div>
        </div>
        <div class="container">
            <div class="form-group">
                <label>Person Model Id</label>
                <InputText class="form-control" @bind-Value="@this.ImagesSelection.PersonModelId"></InputText>
                <label>Person Name</label>
                <InputText class="form-control" @bind-Value="@this.ImagesSelection.PersonName"></InputText>
            </div>
        </div>
        <div class="container" style="max-height:450px; overflow:auto">
            @foreach (var singleSearchResult in this.ImagesSelection.PersonImages)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@singleSearchResult.ImageUrl" />
                    <div class="card-body">
                        <InputCheckbox @bind-Value="@singleSearchResult.IsSelected"></InputCheckbox>
                    </div>
                </div>
            }
        </div>
    </EditForm>
}

@code {
    private bool IsLoading { get; set; } = false;
    private string SearchTerm { get; set; } = null;
    private List<BlazorVideoIndexerUploader.Shared.SearchResultItem> SearchResults { get; set; } = null;
    private BlazorVideoIndexerUploader.Shared.UploadFacesModel ImagesSelection { get; set; } =
        new BlazorVideoIndexerUploader.Shared.UploadFacesModel();
    private int Page { get; set; } = 1;

    private async Task NextPage()
    {
        this.Page++;
        await this.Search();
    }

    private async Task Search()
    {
        try
        {
            this.IsLoading = true;
            this.SearchResults =
                await Http.GetFromJsonAsync<List<BlazorVideoIndexerUploader.Shared.SearchResultItem>>
                ($"VideoIndexerUploader/Search?searchTerm={this.SearchTerm}&page={this.Page}");
            this.ImagesSelection = new BlazorVideoIndexerUploader.Shared.UploadFacesModel()
            {
                PersonImages= this.SearchResults.Select(p => new BlazorVideoIndexerUploader.Shared.PersonImage
                {
                    IsSelected = false,
                    ImageUrl = p.ImageUrl
                }).ToList()
            };

        }
        catch (Exception ex)
        {
            throw;
        }
        finally
        {
            this.IsLoading = false;
        }
    }

    private async Task UploadImages()
    {
        try
        {
            this.IsLoading = true;
            await Http.PostAsJsonAsync<BlazorVideoIndexerUploader.Shared.UploadFacesModel>
                ($"VideoIndexerUploader/UploadFaces", this.ImagesSelection);
        }
        catch (Exception ex)
        {

        }
        finally
        {
            this.IsLoading = false;
        }
    }
}
